form{
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
    overflow-x:hidden;
}